.experienceSection {
    background-color: #f8f9fa;
    padding: 20px;
    margin-top: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .experienceSection h2 {
    color: #343a40;
  }
  
  .experienceSection p {
    color: #6c757d;
    font-size: 16px;
    line-height: 1.6;
  }
  
  .expContainer {
    display: flex;
    align-items: flex-start; /* Align items to the start of the container */
    gap: 20px; /* Space between the image and text */
    margin-bottom: 80px;
  }
  
  .expImages {
    width: 50%;
    max-width: 600px;
    height: auto;
  }
  
  .expText {
    flex: 1; /* Take up the remaining space */
    font-size: 1.8em; /* Adjust the font size for the main heading */

  }
  